.background-banner {
    background-image: url('/images/Hapo_Learn_banner.png');
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 655px;
    margin-top: 2px;
    
}
.title {
    position: absolute;
    top: 204px;
    left: 60px;
 
}
.banner-title {
    font-family: 'UTM BryantLG';
    font-style: normal;
    font-weight: 300;
    font-size: 50px;
    line-height: 61px;
    letter-spacing: -0.05em;
    color: #11114E;
    width: 32rem;
}

.title_extra {
    display: flex;
    font-family: 'UTM BryantLG';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 61px;
    color: #11114E;
}

.title-img {
    margin-top: 4px;
    height: 61px;
}

.title_sp {
    font-family: 'UTM BryantLG';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    letter-spacing: -0.05em;
    color: #505353;
    width: 15rem;
}

.btn-start {
    background: #B2D235;
    box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0;
    border-radius: 35px;
    font-family: 'UTM BryantLG';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 37px;
    letter-spacing: -0.05em;
    color: #FFFFFF;
    margin-top: 26px;
    width: 377px;
    height: 70px;
}