.edit-column {
  margin-top: -35px;
}

.edit-img {
  margin-left: -104px;
}

.edit-font {
  font-family: 'UTM BryantLG';
  font-size: 16px;
  font-weight: 400;
}
  
.edit-contact {
  margin-left: 175px;
}
  
.edit-icon {
  display: flex;
  justify-content: center;
  align-items: center
}
  
.edit-icon-private {
  font-size: 24px;
  color: #505353 !important;
  background: #FFFFFF;
  padding: 11px 16px 9px 17px;
  border-radius: 41px;
  margin-left: 41px;
}

.edit_footer {
  background-color: #505353;
  color: #FFFFFF;
}
