.background-member {
  background-image: url('/images/member.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  display: flex;
  align-items: center;
  background-position: center;
}

.member-location {
  text-align: center;
}

.member-title,
.member-btn {
  font-family: $UTM;
  font-style: normal;
  font-weight: 700;
}

.member-title {
  font-size: 60px;
  line-height: 74px;
  text-align: center;
  letter-spacing: -0.02em;
  color: white;
}

.member-btn {
  background: white;
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 35px;
  border: 0;
  width: 377px;
  height: 70px;
  font-size: 30px;
  line-height: 37px;
  letter-spacing: -0.05em;
  color: $light-yellow-hapo;
}

@media (min-width: 740px) and (max-width: 1023px) {
  .background-member {
    height: 274px;
  }

  .member-title {
    font-size: 35px;
    line-height: 43px;
  }

  .member-btn {
    height: 48px;
    width: 250px;
    font-size: 20px;
  }
}

@media (max-width: 739px) {
  .background-member {
    height: 182px;
  }

  .member-title {
    font-size: 23px;
    line-height: 28px;
  }

  .member-btn {
    height: 37px;
    width: 200px;
    font-size: 19px;
  }
}
