.background-why {
  background-image: url('/images/background-why.png');
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}
  
.why-content,
.why-tablet {
  font-family: $UTM;
  font-style: normal;
  color: white;
}
  
.why-content {
  text-align: center;
}
  
.why-tablet {
  display: none;
}
  
.device-mobile {
  display: none;
}
  
.why-title {
  font-weight: 700;
  font-size: 70px;
  line-height: 86px;
  text-align: center;
  letter-spacing: -0.02em;
}
  
.why-text {
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  letter-spacing: -0.05em;
  margin-bottom: 25px;
}
  
@media (min-width: 740px) and  (max-width: 1023px) {
  .why-pc {
    display: none;
  }

  .why-tablet {
    display: block;
  }
  
  .why-tablet {
    font-weight: 700;
    font-size: 50px;
    line-height: 86px;
    letter-spacing: -0.02em;
    padding-top: 44px;
  }
    
  .why-text {
    font-size: 16px;
    margin-bottom: 15px;
    margin-left: 35px;
  }
  
  .why-img {
    width: 310px;
    height: 248px;
  }
}
  
@media (max-width: 739px) {
  .why-tablet {
    font-weight: 700;
    font-size: 50px;
    line-height: 86px;
    letter-spacing: -0.02em;
    padding-top: 44px;
  }
    
  .row-title {
    position: relative;
    padding-right: 0 ;
    margin-right: 0;
  }
  
  .why-title {
    font-size: 40px;
    line-height: 40px;
    padding: 14px;
  }
  
  .device-mobile {
    position: absolute;
    top: -128px;
    display: block;
  }
  
  .why-text {
    font-size: 14px;
    margin-bottom: 15px;
    margin-left: 24px;
  }
  
  .why-img {
    width: 316px;
    height: 218px;
    margin-left: 35px;
  }
}
